<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a building automation engineer living in Białystok, Poland.</p>

		<p>By day I work as system integrator in <a href ="#">CORAL</a>. In free time I tech myself web development. This blog is intended to demonstrate my portfolio in this area.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2><%= link_to 'Stuff I have written', posts_path %></h2>

		<% @posts.each do |post| %>
			<hr>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%H:%M %d-%m-%Y") %></p>
		<% end %>

	</div>
	<div class="col-3 homepage_content">
		<h2><%= link_to 'Stuff I have built', projects_path %></h2>

		<% @projects.each do |project| %>
			<hr>
			<h3><%= link_to project.title, project %></h3>
			<p class="date"><%= project.created_at.strftime("%H:%M %d-%m-%Y") %></p>
		<% end %>
	</div>
</div>